*{
    text-align: center;
   background-color: grey;
}

img{
    height: 280px;
}

nav{
    text-align: auto;
    border: solid;
  margin: 0px 500px;
  background-color: aliceblue;
}
a{
    background-color: aliceblue;
   
}