* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: orangered;
    padding: 10px;

}

footer {
    background-color: gray;
}

div {
    margin: 50px;
}

video {
    height: 80%;
    width: 80%;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* celulares */
    video {
        height: 10em;
        width: 15em;
    }

}